/* chat room styling */
MuiThemeProvider {
    background-color: red;
}

#main-container-chat-room {
    height: 100%;
    width: 100%;
    background-color: red;
    overflow: auto;
}

#side-bar {
    float: left;
    margin: 0 !important;
    border-radius: 0 !important;
    transition-timing-function: ease-out;
    transition-property: z-index;
    transition: 1;
    width: 30%;
    overflow: hidden !important;
    z-index: 0;
    position: absolute;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.9);
}

#my-space {
    height: 6%;
    cursor: pointer;
}

#others-space {
    height: 89%;
    cursor: pointer;
}

#show-all {
    height: 5%;
    text-align: center;
}

#show-all-icon {
    color: #ffffff !important;
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px; 
    float: left;
}

#show-all-icon:hover {
    color: #cccccc !important;
}

.all-users-info-side-bar,  .all-users-info-side-bar > div {
    margin: 4px 0px !important;
    padding: 0px !important;
    height: 40px !important;
    overflow: hidden;
}

.all-users-info-side-bar > div > div:first-child {
    padding-left: 8px !important;
}

.all-user-icon-list {
    font-size: 26px;
    margin-left: 7px;
    float: left;
}

.all-user-code-name {
    color: #ffffff;
    margin-left: 23px;
    font-size: 15px;
    text-align: left;
    float: left;
    padding-top: 5px;
    text-overflow: ellipsis; 
    overflow: hidden;
    width:70%;
}

/*correction from the slider code to remove the space in the head/first persons icon */
.simplebar-content > div {
    padding: 0 !important;
}

#icons-person {
    cursor: pointer;
    padding-top: 1%;
    font-size: 30px;
    margin-left: 5px;
}


/* main section for the actual chat messages/send button and more*/
#whole-chat-space {
    float: right;
    background-color: #e9e9e9;
    overflow: hidden;
    width: 97.2%;
    height:100%;
    right: 0;
    margin: 0 !important;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
}

#top-bar {
    height: 6%;
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    position: relative;
}

#content-in-side-bar{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#messages-only {
    width: 100%;
    height: 66%;
    max-height: 68%;
    padding : 0 1%;
    overflow: hidden;
    overflow-y: scroll;
}

#message-only-list {
    background-color: black;
}

/* image styling */
#image-in-dialog {
    height: 100%;
    width: 100%;
}

/* message box styling */
.myMessage {
    float: right;
    width: 45%;
    height: auto;
    padding: 0.5% 1%;
    margin: 0.5% 1% 0.5% 3%;
    border-radius: 6px 6px 0px 6px;
    font-size: 85%;
}

.someoneElsesMessage {
    float: left;
    width: 45%;
    height: auto;
    padding: 0.5% 1%;
    margin: 0.5% 3% 0.5% 0%;
    border-radius: 6px 6px 6px 0px;
    font-size: 85%;
}

.codeNameSpan {
    font-weight: bold;
    margin: 0.3%;
}

.imagePerPost {
    height: 60px;
    width: 100px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.imagePerPost:hover {
    opacity: 0.9;
}

.actualMessageDiv {
    margin: 1% 0.5%;
}

.timeSpan {
    font-weight: bold;
    margin: 0.2%;
    float: right;
}

#enter-message {
    width: 100%;
    margin: 0;
    border:none;
    font-family: 'Abel', sans-serif !important;
    font-size: 18px;
    height: 20%;
}

#bottom-section-send {
    height: 8%;
    bottom: 0;
    background-color: #222222;
    width: 100%;
    text-align: center;
}

#typing-message {
    float: left;
    position: absolute;
    left: 5px;
    bottom: 20px;
    color: white;
    font-size: 12px;
}

/* footer icons */
.footer-icons {
    margin-left: 10% !important;
}

#info-menu-list {
    /* width: 0%;  20% */
    width: 20%;
    position: absolute;
    float: right;
    right: 20px;
    bottom: 41px;
    text-align: left;
    background-color: #d9d9d9;
    border-radius: 6px;
    transition: 0.25s;
    display: none;
    font-size: 14px;
}

#info-menu-list > ul {
    text-decoration: none;
    list-style-type: none;
    float: left;
}

#info-menu-list-icon {
    color: #ffffff !important;
    cursor: pointer;
    position: absolute;
    float: right;
    right: 20px;
    bottom: 10px;
    font-size: 25px !important;
    transition: 0.5s;
}

#info-menu-list-icon:hover {
    color: #cccccc !important;
}

#emoji-list {
    width: 30%;
    height: 30%;
    position: absolute;
    float: right;
    right: 50px;
    bottom: 41px;
    text-align: left;
    background-color: #d9d9d9;
    border-radius: 6px;
    transition: 0.25s;
    overflow: hidden;
    padding: 1.9%;
    display: none;
}

#emoji-list-actual-content {
    height: 100%;
    width: 100%;
}

.single-emoji {
    font-size: 14px;
    display: inline-block;
    padding: 0.7%;
    cursor: pointer;
}

.single-emoji:hover {
    opacity: 0.7;
}

#toggle-emoji-display {
    color: #ffffff !important;
    cursor: pointer;
    position: absolute;
    float: right;
    right: 50px;
    bottom: 10px;
    font-size: 25px !important;
    transition: 0.5s;
}

#toggle-emoji-display:hover {
    color: #cccccc !important;
}

#upload-image-icon {
    color: #ffffff !important;
    cursor: pointer;
    position: absolute;
    float: right;
    right: 85px;
    bottom: 10px;
    font-size: 25px !important;
    transition: 0.5s;
}

#upload-image-icon:hover {
    color: #cccccc !important;
}

input[type="file"] {
    display: none;
}

/* media queries for width*/
@media screen and (max-width:1222px) {
    #icons-person {
        cursor: pointer;
        padding-top: 3%;
        font-size: 28px;
        margin-left: 4.6px;
    }

    .all-user-icon-list {
        font-size: 22px;
    }

    .all-user-code-name {
        font-size: 12px;
    }
}

@media screen and (max-width:1170px) {
    #icons-person {
        cursor: pointer;
        padding-top: 3%;
        font-size: 26px;
        margin-left: 5.2px;
    }

    .all-user-icon-list {
        font-size: 22px;
    }

}

@media screen and (max-width:1136px) {
    #whole-chat-space {
        width: 96.7%;
    }
    
    #show-all-icon {
        margin-left: 7px;
        font-size: 30px; 
    }
}

@media screen and (max-width:1055px) {
    #whole-chat-space {
        width: 96.45%;
    }
    
    #emoji-list {
        width: 40%;
    }

    #enter-message {
        font-size: 15px;
    }
}

@media screen and (max-width:982px) {
    #whole-chat-space {
        width: 96.2%;
    }
}

@media screen and (max-width:922px) {
    #whole-chat-space {
        width: 96%;
    }
    
    #side-bar {
        width: 35%;
    }
}

@media screen and (max-width:862px) {
    #whole-chat-space {
        width: 95.8%;
    }
}

@media screen and (max-width:822px) {
    #whole-chat-space {
        width: 95.6%;
    }

    #info-menu-list {
        width: 35%;
    }

    #drop-down-menu-icon {
        font-size: 22px !important;
    }

    #toggle-emoji-display {
        font-size: 22px !important;
    }
}

@media screen and (max-width:782px) {
    #whole-chat-space {
        width: 95.3%;
    }
    
    #emoji-list {
        width: 50%;
    }
}

@media screen and (max-width:732px) {
    #whole-chat-space {
        width: 95.1%;
    }
}

@media screen and (max-width:702px) {
    #whole-chat-space {
        width: 94.9%;
    }
}

@media screen and (max-width:672px) {
    #whole-chat-space {
        width: 94.6%;
    }

    #info-menu-list {
        width: 40%;
    }
}

@media screen and (max-width:622px) {
    #whole-chat-space {
        width: 94%;
    }
}


@media screen and (max-width:582px) {
    #whole-chat-space {
        width: 93.8%;
    }
}

@media screen and (max-width:552px) {
    #whole-chat-space {
        width: 93.4%;
    }
}

@media screen and (max-width:512px) {
    #whole-chat-space {
        width: 93%;
    }
    
    #emoji-list {
        width: 65%;
    }

    #info-menu-list {
        width: 50%;
    }
}

@media screen and (max-width:492px) {
    #whole-chat-space {
        width: 92%;
    }
    
    #side-bar {
        width: 40%;
    }

    #emoji-list {
        right: 40px;
    }

    #info-menu-list {
        right: 10px;
    }

    #info-menu-list-icon {
        right: 10px;
    }

    #toggle-emoji-display {
        right: 40px;
    }

    #upload-image-icon {
        right: 70px;
    }
}

@media screen and (max-width:422px) {
    #whole-chat-space {
        width: 91.2%;
    }

    
    #emoji-list {
        width: 70%;
        right: 35px;
    }

    #info-menu-list {
        width: 60%;
    }

    #info-menu-list-icon {
        font-size: 20px !important;
    }

    #toggle-emoji-display {
        font-size: 20px !important;
        right: 35px;
    }

    #upload-image-icon {
        font-size: 20px !important;
        right: 62px;
    }
}

@media screen and (max-width:382px) {
    #whole-chat-space {
        width: 90.3%;
    }

    #side-bar {
        width: 45%;
    }
}

@media screen and (max-width:382px) {
    #whole-chat-space {
        width: 89.5%;
    }

    #side-bar {
        width: 50%;
    }

    #info-menu-list {
        width: 80%;
    }
}

@media screen and (max-width:342px) {
    #whole-chat-space {
        width: 89%;
    }

    #side-bar {
        width: 55%;
    }
}