/* main body holder container */
/* utility definitions */
.massive-bold-header{
    font-size: 300%;
    font-weight: bolder;
    display: block;
    text-align: center;
    color: #262626;
}

.tiny-small-header-description{
    font-size: 90%;
    display: block;
    text-align: center;
    color: #1a1a1a;
}

#main-container{
    /*background-color: #e6e6e6;*/
    overflow: auto;
    height: 100vh;
    font-family: 'Abel', sans-serif !important;
    background-image: url("../Images/background6.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
}

#inner-container-whole{
    width: 70%;
    height: 80%;
    overflow: auto;
    background-color:  rgba(174, 120, 209, 0.8);
    border-radius: 5px;
    margin: 5% 15%;
    text-align: center;
    transition: 1000ms;
    position: absolute;
}

#container-home-header{
    height: 32%;
    margin: 2% 0;
}

#home-logo{
    height: 64px;
    width: 64px;
    background-image: url("../Images/clanChatLogo.ico");
    background-repeat: no-repeat;
    margin: 0 auto;
}

.default-home-button{
    width: 10%;
    /* display: block !important; */
    font-size: 14px;
    margin: 10px auto !important;
    height: 25px !important;
    border: none;
    border-radius: 3px;
}

.default-home-button > button > div > div{
    height: 25px !important;
    line-height: 25px !important;
    background-color: #0B2C56 !important;
    color: #ED9F7F;
    -webkit-transition: prop 0.2s;
    -moz-transition: prop 0.2s;
    -ms-transition: prop 0.2s;
    -o-transition: prop 0.2s;
    transition: prop 0.2s;
}

.default-home-button > button {
    height: 31px !important;
}

.default-home-button >button:hover{
    background-color: #f0af8e !important;
}

#container-home-input-fields{
    width: 100%;
    margin-top: 3%;
    overflow: hidden;
}

#pick-a-color-input {
    display: block !important;
    width: 50% !important;
    margin: 15px auto;
    height: 25px !important;
    font-size: 15px !important;
    border-radius: 3px;
    border: none;
    opacity: 0.8;
    margin-top: 2px !important;
    cursor: pointer;
    transition: 250ms;
}

#pick-a-color-input:hover {
    opacity: 1;
}

.default-text-field{
    display: block !important;
    width: 50% !important;
    margin: 15px auto;
    height: 25px !important;
    font-size: 15px !important;
    border-radius: 3px;
    background-color: #ffffff !important;
    border: none;
}

.default-text-field > div > hr {
    bottom: 1px !important;
    border-radius: 5px;
}

#status {
    width: 50% !important;
    margin: 15px auto;
    height: 25px !important;
    font-size: 15px !important;
}

#snack-bar {
    text-align: center;
}

#color {
    color: white;
}

.footer {
    margin-top: 3%;
}

/* media queries for width*/
@media screen and (max-width:451px) {
    #inner-container-whole {
        width: 90%;
        margin: 5% 5%;
    }
    
    #pick-a-color-input {
        width: 80% !important;
    }

    .default-text-field { 
        width: 80% !important;
        font-size: 12px !important;
    }
}


@media screen and (max-width:362px) {
    .massive-bold-header {
        font-size: 250%;
    }

    #inner-container-whole {
        width: 94%;
        margin: 5% 3%;
    }
    
    #pick-a-color-input {
        width: 90% !important;
    }

    .default-text-field { 
        width: 90% !important;
        font-size: 10px !important;
    }
}

/* media queries for width*/
@media screen and (max-height:670px) {
    #container-home-input-fields{
        margin-top: 12%;
    }

    #inner-container-whole {
        height: 90%;
    }
}

@media screen and (max-height:510px) {
    #inner-container-whole {
        height: 95%;
        margin-top: 4%;
    }
}
